@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src:
          local('Raleway'),
          local('Raleway-Light'),
          local('Raleway Light'),
          local('RalewayLight'),
          local('Raleway-300'),
          local('Raleway300'),
          url('~@/assets/fonts/Raleway/Raleway-300.woff2') format('woff2'), /* Super Modern Browsers */
          url('~@/assets/fonts/Raleway/Raleway-300.woff') format('woff'); /* Modern Browsers */
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src:
          local('Raleway'),
          local('Raleway-Regular'),
          local('Raleway Regular'),
          local('RalewayRegular'),
          local('Raleway-400'),
          local('Raleway400'),
          url('~@/assets/fonts/Raleway/Raleway-400.woff2') format('woff2'), /* Super Modern Browsers */
          url('~@/assets/fonts/Raleway/Raleway-400.woff') format('woff'); /* Modern Browsers */
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src:
          local('Raleway'),
          local('Raleway-Medium'),
          local('Raleway Medium'),
          local('RalewayMedium'),
          local('Raleway-500'),
          local('Raleway500'),
          url('~@/assets/fonts/Raleway/Raleway-500.woff2') format('woff2'), /* Super Modern Browsers */
          url('~@/assets/fonts/Raleway/Raleway-500.woff') format('woff'); /* Modern Browsers */
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src:
          local('Raleway'),
          local('Raleway-SemiBold'),
          local('Raleway SemiBold'),
          local('RalewaySemiBold'),
          local('Raleway-600'),
          local('Raleway600'),
          url('~@/assets/fonts/Raleway/Raleway-600.woff2') format('woff2'), /* Super Modern Browsers */
          url('~@/assets/fonts/Raleway/Raleway-600.woff') format('woff'); /* Modern Browsers */
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src:
          local('Raleway'),
          local('Raleway-Bold'),
          local('Raleway Bold'),
          local('RalewayBold'),
          local('Raleway-700'),
          local('Raleway700'),
          url('~@/assets/fonts/Raleway/Raleway-700.woff2') format('woff2'), /* Super Modern Browsers */
          url('~@/assets/fonts/Raleway/Raleway-700.woff') format('woff'); /* Modern Browsers */
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  src:
          local('Raleway'),
          local('Raleway-ExtraBold'),
          local('Raleway ExtraBold'),
          local('RalewayExtraBold'),
          local('Raleway-800'),
          local('Raleway800'),
          url('~@/assets/fonts/Raleway/Raleway-800.woff2') format('woff2'), /* Super Modern Browsers */
          url('~@/assets/fonts/Raleway/Raleway-800.woff') format('woff'); /* Modern Browsers */
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 900;
  src:
          local('Raleway'),
          local('Raleway-Black'),
          local('Raleway Black'),
          local('RalewayBlack'),
          local('Raleway-900'),
          local('Raleway900'),
          url('~@/assets/fonts/Raleway/Raleway-900.woff2') format('woff2'), /* Super Modern Browsers */
          url('~@/assets/fonts/Raleway/Raleway-900.woff') format('woff'); /* Modern Browsers */
}