.dark-theme {
  //common
  --white: #fff;
  --black: #000;
  --blue: #3E9CDC;
  --dark-blue: #286690;
  --gray: #BBBBBB;

  //buttons
  --btn-gray: #6F6D7B;
  --btn-black: #2A2B30;

  //input
  --input-bg: rgba(255, 255, 255, 0.85);
  --input-color: #272733;
  --placeholder-color: #272733;
  --range-bg:rgba(255, 255, 255, 0.7);
  --range-thumb: #42A9ED;

  //select
  --select-bg: rgba(255, 255, 255, 0.85);
  --select-color: #272733;
  --selected-bg: rgba(61, 64, 80, 0.85);
  --select-item-hov: #42A9ED;
  --select-list-bg: #272733;
  --select-brdr: #3D4050;

  // header
  --header-bg: rgba(16, 16, 29, 0.9);
  --logo-blue: #42A9ED;
  --nav-blue: #43ABF0;

  //order
  --order-bg: #272733;
  --dots-bg: #C4C4C4;

  //footer
  --footer-bg: #3D4050;
  --footer-gray: #C3C3C3;
}